<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <h3>
            <span>Trainings Einheiten Bearbeiten</span>
        </h3>
        <div flex></div>
        <md-button class="md-fab" aria-label="Back" ng-click="back()">
            <md-icon md-svg-src="img/accessibility.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<form name="projectForm" ng-if="loaded">
    <md-input-container>
        <label>Name</label>
        <input required name="name" ng-model="training.name" />
        <div ng-messages="projectForm.name.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container style="overflow: visible">
        <label class="md-no-float">Training Einheiten</label>
        <div>
            <md-autocomplete md-selected-item-change="searchText='';add(selectedItem);" md-selected-item="selectedItem" md-search-text="searchText" md-items="unit in allUnits | filter:{name:searchText}" md-item-text="unit.name">
                <span md-highlight-text="searchText">{{unit.name}}</span>
            </md-autocomplete>

            <md-list>
                <md-item ng-repeat="unit in units">
                    <md-item-content class="md-whiteframe-z1">
                        <div class="md-tile-left">
                            <md-icon md-svg-src="img/{{unit.phase}}.svg"></md-icon>
                        </div>
                        <div class="md-tile-content" layout="row">
                            <div flex="66">
                                <h3>{{unit.name}}</h3>
                                <p>
                                    {{unit.flow}}
                                </p>
                            </div>
                            <div flex="33" style="text-align: right">
                                <md-button class="md-fab md-warn" aria-label="Delete" ng-click="remove(unit)">
                                    <md-icon md-svg-src="img/minus.svg"></md-icon>
                                </md-button>
                            </div>              
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </div>
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="projectForm.$invalid || units.length == 0">Save</md-button>
</form>
<md-progress-linear md-mode="indeterminate" ng-if="!loaded"></md-progress-linear>